body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainGrid {
  /* border-left: 1px solid;
  border-right: 1px solid; */
  /* border-color: rgba(0, 0, 0, 0.12); */
  padding-left: 3vw;
  padding-right: 3vw;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* backdrop-filter: blur(90px); */
  backdrop-filter: blur(20px);
}

.imageStyle {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.imageStyle:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 15px gray;
}

.imageStyle::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imageStyle:hover::after {
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
} */

.a4 {
  width: 21cm;
  /* height: 29.7cm; */
  margin: 0 auto;
  margin-bottom: 0.5cm;
  page-break-after: always;
  border: none;
}
@media print {
  .a4 {
    margin: 0;
    margin-top: 0;
    border-bottom: none;
  }
  .print-container {
    height:100%;
    position:absolute;
    top:0px;
    bottom:0px;
    margin: auto;
  }
}